/* HEADER */
header {
    margin: 20px;
    display: flex;
}

header img {
    width: 50px;
    filter: invert(1) brightness(2);
}

header a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: white;
}

/* MIS CSS */

.clock-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blacktransparentbox);
    padding: 50px;
    border-radius: 15px;
    gap: 10px;
}

.clock h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.time {
    font-size: 50px;
    color: var(--secundarytextcolor);
    transition: 0.07s all linear;
}

.time:hover {
    transform: scale(1.2);
    color: var(--colordecoration);
}

.date {
    font-size: 20px;
    color: var(--secundarytextcolor)
}

.message {
    font-size: 20px;
}