.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
    justify-items: center; /* Centra cada tarjeta */
}

/*LINKS*/

.link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.332);
    padding: 30px;
    border-radius: 15px;
    gap: 10px;
    margin-top: 10px;
    height: 310px;
}

.nameLink, .URLLink {
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
}

.add-button {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(255, 210, 242);
    transition: all 0.08s linear;
}

.add-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.listedLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    max-height: 140px;
    max-width: 350px;
    overflow-x: auto;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.link-item {
    background-color: rgb(227, 227, 227);
    padding: 15px;
    position: relative;
    border-radius: 3px;
}

.link-item a {
    text-decoration: none;
    color: black;
}

.removeLink {
    width: 15px;
    height: 15px;
    border-radius: 180px;
    border: none;
    background-color: rgb(178, 178, 178);;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center; 
    cursor: pointer;
}

.futureWeather {
    display: flex;
}

.link-container h1 {
    font-size: var(--titlesizefont);
    font-weight: bold;
}

/* RELOJ */

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.332);
    padding: 60px;
    border-radius: 15px;
    gap: 10px;
}

.clock h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.time {
    font-size: 50px;
    color: var(--secundarytextcolor);
    transition: 0.07s all linear;
}

.time:hover {
    transform: scale(1.2);
    color: var(--colordecoration);
}

.date {
    font-size: 20px;
    color: var(--secundarytextcolor)
}

/* CONTRASEÑAS */
.password-container {
    width: 400px;
    margin: 0 auto;
}

.lengthPass {
    width: 100px;
}

.password-dashboard .resultPass {
    width: 300px;
}

.closedEyeIcon {
    width: 20px;
}

.closedEyeIcon:hover {
    cursor: pointer;
}

.main h1 {
    font-size: var(--titlesizefont);
    font-weight: bold;
}

.password-container {
    background-color: var(--blacktransparentbox);
    padding: 30px;
    border-radius: 15px;
    gap: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.password-container h2 {
    font-size: 18px;
}

.input-char, .input-pass {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lengthPass {
    height: 22px;
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.buttonPass {
    font-size: 15px;
    width: 200px;
    height: 40px;
    padding: 7px;
    border-radius: 7px;
    background-color: var(--colordecoration);
    transition: 0.08s all linear;
}

.buttonPass:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.resultPass {
    background: transparent;
    border: none;
    background-color: rgba(255, 255, 255, 0.323);
    padding: 5px;
    border-radius: 5px;
    color: black;
    width: 300px;
    height: 20px;
    font-size: 15px;
}

.password-dashboard h1 {
    margin-bottom: 10px;
}

/* ESTACIÓN DEL TIEMPO */

.futureWeather {
    display: flex;
    max-width: 800px;
    overflow-x: auto;
}

.weatherContainer {
    background-color: var(--blacktransparentbox);
    padding: 30px;
    border-radius: 15px;
    gap: 10px;
    width: 800px;
}

.subContainer {
    display: flex;
    gap: 5px;
    flex-direction: column;
    color: var(--secundarytextcolor);
    font-weight: bold;
}

.actualWeather h1 {
    font-size: 20px;
}

.actualWeather h2 {
    color: var(--colordecoration);
}

.actualWeatherContainer {
    display: flex;
    gap: 10px;
    margin: 15px
}

.temp {
    font-size: 50px;
}

.futureWeather {
    display: flex;
    gap: 20px
}

.forecastContainer {
    background-color: #000000;
    padding: 10px;
    border-radius: 15px;
}

.temperature {
    color: var(--colordecoration);
    font-weight: bold;
}

/* RESPONSIVE */

/* Orden dashboard pantallas grandes */
.weather-dashboard { grid-column: 2 ; grid-row: 1; }
.link-dashboard { grid-column: 1; grid-row: 2; }
.clock-dashboard { grid-column: 2; grid-row: 2; }
.password-dashboard { grid-column: 3; grid-row: 2; }

/* Responsive para pantallas medianas */
@media (max-width: 1400px) {
.clock-dashboard { grid-column: 1; grid-row: 1; }
.weather-dashboard { grid-column:  1; grid-row: 3; }
.link-dashboard { grid-column: 1; grid-row: 2; }
.password-dashboard { grid-column: 1; grid-row: 4; }
.footer{ height: 100px; }
}

/* Responsive para móviles */


@media (max-width: 1040px) {
.clock-dashboard { grid-column: 1; grid-row: 1; }
.weather-dashboard { grid-column:  1; grid-row: 3; }
.link-dashboard { grid-column: 1; grid-row: 2; }
.password-dashboard { grid-column: 1; grid-row: 4; }
.weatherContainer { width: 350px; }
.footer{ height: 100px; }
}
