/*LINKS*/

.link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.407);
    padding: 30px;
    border-radius: 15px;
    gap: 10px;
    margin-top: 10px;
}

.nameLink, .URLLink {
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
}

.add-button {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(255, 210, 242);
    transition: all 0.08s linear;
}

.add-button:hover {
    transform: scale(1.1)
}

.listedLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    max-height: 400px;
    max-width: 350px;
    overflow-x: auto;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.link-item {
    background-color: rgb(227, 227, 227);
    padding: 15px;
    position: relative;
    border-radius: 3px;
}

.link-item a {
    text-decoration: none;
    color: black;
}

.removeLink {
    width: 15px;
    height: 15px;
    border-radius: 180px;
    border: none;
    background-color: rgb(178, 178, 178);;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center; 
    cursor: pointer;
}

.futureWeather {
    display: flex;
}

.link-container h1 {
    font-size: var(--titlesizefont);
    font-weight: bold;
}

/* RELOJ */

.clock-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.332);
    padding: 50px;
    border-radius: 15px;
    gap: 10px;
}

.clock h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.time {
    font-size: 50px;
    color: var(--secundarytextcolor);
    transition: 0.07s all linear;
}

.time:hover {
    transform: scale(1.2);
    color: var(--colordecoration);
}

.date {
    font-size: 20px;
    color: var(--secundarytextcolor)
}
