/* HEADER */
header {
    margin: 20px;
    display: flex;
}

header img {
    width: 50px;
    filter: invert(1) brightness(2);
}

header a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: white;
}

/* BODY */

.main {
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
}

.link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.407);
    padding: 30px;
    border-radius: 15px;
    gap: 10px;
    margin-top: 10px;
}

.nameLink, .URLLink {
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
}

.add-button {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(255, 210, 242);
    transition: all 0.08s linear;
}

.add-button:hover {
    transform: scale(1.1)
}

.listedLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 400px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 5px;
    margin-top: 20px;
}

.link-item {
    background-color: rgb(227, 227, 227);
    padding: 15px;
    position: relative;
    border-radius: 3px;
    text-align: left;
    max-width: 600px;
    overflow-wrap: break-word;
}

.link-item a {
    text-decoration: none;
    color: black;
}

.removeLink {
    width: 15px;
    height: 15px;
    border-radius: 180px;
    border: none;
    background-color: rgb(178, 178, 178);;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center; 
    cursor: pointer;
}

.futureWeather {
    display: flex;
}

.link-container h1 {
    font-size: var(--titlesizefont);
    font-weight: bold;
}


