/* HEADER */
header {
    margin: 20px;
    display: flex;
}

header img {
    width: 50px;
    filter: invert(1) brightness(2);
}

header a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: white;
}

/* MIS CSS */

.main {
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.closedEyeIcon {
    width: 20px;
}

.closedEyeIcon:hover {
    cursor: pointer;
}

.main h1 {
    font-size: var(--titlesizefont);
    font-weight: bold;
}

.password-container {
    background-color: var(--blacktransparentbox);
    padding: 30px;
    border-radius: 15px;
    gap: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.password-container h2 {
    font-size: 18px;
}

.input-char, .input-pass {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lengthPass {
    height: 22px;
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.buttonPass {
    font-size: 15px;
    width: 200px;
    height: 40px;
    padding: 7px;
    border-radius: 7px;
    background-color: var(--colordecoration);
    transition: 0.08s all linear;
}

.buttonPass:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.resultPass {
    background: transparent;
    border: none;
    background-color: rgba(255, 255, 255, 0.323);
    padding: 5px;
    border-radius: 5px;
    color: black;
    width: 300px;
    height: 20px;
    font-size: 15px;
}
